I think it would be helpful to share a more convenient communication option. If you agree, please feel free to contact me via whatsapp or Skype.

whatsapp: +12522590885
skype: live:.cid.52660a9e36a2e943

