I think it would be helpful to share a more convenient communication option. If you agree, please feel free to contact me via email or whatsapp.

Email: blueapple9943@gmail.com
Whatsapp: +18392199917

